* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    color: #840018;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0; 
    background-color: transparent;
    z-index: 999;
}

.navbar-container {
    background-color: #ffeef2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    max-width: 1000px;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 12px;
    box-sizing: border-box;
}

.nav-icon img {
    width: 35px;
}

/* Nav Menu (Desktop) */
.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: 0.3s;
}

.nav-menu a.active,
.nav-menu a:hover {
    color: #840018;
    font-weight: 600;
}

/* Hamburger */
.hamburger {
    display: none;
    font-size: 24px;
    color: #840018;
    cursor: pointer;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 30px;
        background-color: #ffeef2;
        width: 200px;
        border-radius: 10px;
        padding: 20px 0;
        display: none;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .nav-menu.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    body {
        padding-top: 100px; 
    }
}

/* Hero */
.hero {
    margin-top: 90px;
    text-align: center;
    padding: 100px 20px 20px;
    max-width: 800px;
    width: calc(100% - 40px); 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
    box-sizing: border-box; 
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #840018;
    word-wrap: break-word;
}

.hero p {
    font-size: 1rem;
    max-width: 700px;
    margin: 0 auto;
    color: #840018;
    word-wrap: break-word;
}

.down-arrow {
    background: none;
    border: none;
    font-size: 24px;
    color: #840018;
    cursor: pointer;
    margin-top: 30px;
}

.down-arrow:hover {
    color: #FFBBC7;
}

/* Responssive */
@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 30px;
    background-color: #ffeef2;
    width: 200px;
    border-radius: 10px;
    padding: 20px 0;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav-menu.show {
        display: flex;
  }

  .hamburger {
        display: block;
  }
}  

/* Photo Section */
.photo-section {
    padding: 40px 20px;
    max-width: 1000px; 
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
}

.photo-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}

.photo-grid img {
    max-width: 100%;
    width: 280px; 
    height: 410px;
    object-fit: cover;
    display: block; 
}

/* Photobooth Section */
.photobooth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px 200px;
  max-width: 1000px; 
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
}

.photobooth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8a0018;
    padding: 60px 64px;
    gap: 40px;
    flex-wrap: wrap; 
}

.photo-left img {
    max-width: auto;
    height: 300px;
}
.booth-center img {
    max-width: auto;
    height: 450px;
}

.button-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.start-btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background-color: white;
    border: 2px solid white;
    color: #840018;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-align: center;
     display: inline-block;
}

.start-btn:hover{
    background-color: #ffbbc7;
    border: 2px solid #ffbbc7;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3)
}

.upload-btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    border: 2px dashed white;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-align: center;
     display: inline-block;
}

.upload-btn:hover {
    background-color: #ffbbc7;
    border: 2px dashed white;
    color: #840018;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .photobooth-section {
        flex-direction: column;
  }

  .button-right {
        flex-direction: row;
  }
}

/* Footer */
footer {
    background-color: #840018;
    color: #ffeef2;
    font-size: 12px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
}
